<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BattleCity.GameClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BattleCity.GameClient.Properties.Settings>
            <setting name="UpKey" serializeAs="String">
                <value>Up</value>
            </setting>
            <setting name="DownKey" serializeAs="String">
                <value>Down</value>
            </setting>
            <setting name="LeftKey" serializeAs="String">
                <value>Left</value>
            </setting>
            <setting name="RightKey" serializeAs="String">
                <value>Right</value>
            </setting>
            <setting name="ShootKey" serializeAs="String">
                <value>Space</value>
            </setting>
        </BattleCity.GameClient.Properties.Settings>
    </userSettings>
</configuration>